body{
    background:url(http://k30.kn3.net/taringa/8/5/A/8/7/5/venancio1987/9D2.jpg);
    background-size: contain;
    background-attachment: fixed
}
h1:hover{
        color:bisque;
        font-size: 60px;
        
    }
p { color: #FFFFE0; }
}
h2,h3{
    color:#7CFC00; font-family: 'Cookie', cursive;
font-family: 'Calligraffitti', cursive;
    transition: all 2s;

}